#jumbotronbanner {
    background-image: url(../img/banner3.jpg);
    background-size: cover;
}

.kaderfoto {
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#logo {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
}


/** Pagina specifieke css **/

.container {
    background-color: #eeeeee;
}

#kaderfoto-gevat {
    background-image: url(../img/kaderfotogevat.jpg);
}

#kaderfoto-hanna {
    background-image: url(../img/kaderfotohanna.jpg);
}

#kaderfoto-coachingenbegeleiding {
    background-image: url(../img/kaderfotocoaching.jpg);
}

#kaderfoto-lyme {
    background-image: url(../img/kaderfotolyme.jpg);
}

#kaderfoto-workshop {
    background-image: url(../img/kaderfotoworkshop.jpg);
}

#kaderfoto-elandweekenden {
    background-image: url(../img/kaderfotoelanweekenden.jpg);
}

#kaderfoto-contact {
    background-image: url(../img/kaderfotocontact.jpg);
}

#headerdiv {
    display: block;
    width: 100%;
    height: 160px;
}

#headerfoto {
    float: left;
    margin-bottom: 20px;
}

#header {
    margin-top: 95px;
    margin-left: 30px;
    float: left;
    vertical-align: bottom;
}